# 제어문

## 조건문 (if문)

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 '조건식'과 함께 사용된다.
- (if <조건식>:)
2. <조건식> 참(True)인 경우 : 이후의 문장을 실행
3. <조건식> 거짓(False)인 경우 `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행
else <조건식>:
    if의 조건식이 거짓인 경우 실행

In [ ]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스 아닙니다.')

In [ ]:
num = input('숫자를 입력해주세요')

result = int(num) % 2
if result == 1:
    print('홀수입니다.')
else: print('짝수입니다.')

In [ ]:
num = int(input('숫자를 입력해주세요'))

if num % 2 == 1:
    print('홀수입니다.')

else:
    print('짝수입니다.')

In [ ]:
score = int(input('시험점수 입력 시 학점을 알려드립니다.'))

if score == 100:
    print('A+')
elif score >= 90 and score:
    print('B')
elif score >= 80 and score <= 89:
    print('C')
elif score >= 70 and score <=79:
    print('D')
else:
    print('F')

In [ ]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요.')
elif score >= 80:
    print('B')

### 조건표현식

```
- true_value if <조건식> else false_value

In [1]:
print('True') if 1 > 0 else print('False')

True

In [3]:
num = -1
value = num if num >= 0 else 0
print(value)

0

In [7]:
num = int(input('숫자'))
if num >= 0:
    value = num
else:
    value = 0

print(value)

숫자 1921

1921

In [8]:
num = 2

if num % 1:
    result = '홀수'
else :
    result = '짝수'

In [11]:
num = 3
result = '홀수' if num % 1 else result = '짝수'
print('result')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1951158944.py, line 2)

## 반복문

### 반복문
```
    while <조건식>:
        실행할 코드
```
반복문 작성 시에는 무한히 반복되는 코드를 작성하면 안된다.

In [13]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [16]:
greeting = ''

while greeting != '안녕':
    greeting = input('대답')

print("안녕하세요")

대답 왜
대답 ㅇㅐ
대답 애
대답 아ㄴ
대답 안녕

안녕하세요

### for

정해진 범위 내의 반복
```
for variable(item) in sequence:
    code
```

시퀀스형 데이터에만 적용할 수 있다.

In [18]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [20]:
word = input('단어를 입력해주세요.')

for letter in word:
    print(letter)

단어를 입력해주세요. chatGPT

c
h
a
t
G
P
T

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [30]:
# 1~30 까지 숫자들 중에 홀수만 출력

for i in range(1,31):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [33]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [34]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [35]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [46]:
for cat in info:
    print(cat, str(info[cat]))

name gildong
location seoul
phone 010-1234-1234
age 20

In [49]:
for key in info.keys():
    print(key)
    print(info[key])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [52]:
print(info.values())
for value in info.values():
    print(value)

dict_values(['gildong', 'seoul', '010-1234-1234', 20])
gildong
seoul
010-1234-1234
20

In [54]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [56]:
info.(items)

SyntaxError: invalid syntax (892184031.py, line 1)

In [57]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [72]:
# 혈액형의 종류는 ?? ??입니다.
print('혈액형의 종류는', end=' ')
for key in blood_type:
    print(key, end=' ')
print('가 있습니다')

혈액형의 종류는 A B O AB 가 있습니다

In [73]:
# 총 학생수는 몇명입니다.
result = 0
for value in blood_type.values():
    result = result + value

print(f'총 학생수는 {result}명입니다.')

총 학생수는 12명입니다.

In [77]:
# 혈액형의 종류는 ?? ??입니다.
type = ' '
for key in blood_type:
    type = type + key + ','
print(f'혈액형의 종류는 {type}가 있습니다')

혈액형의 종류는  A,B,O,AB,가 있습니다

### Break

In [80]:
for i in range(100):
    if i == 11:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [99]:
newinfo = {
    'mike': 8,
    'jane': 7,
    'Too': 4,
    'Ray': 5,
    }
print(newinfo)

for value in newinfo.values():
    if value == 4:
        print (key)
        break

{'mike': 8, 'jane': 7, 'Too': 4, 'Ray': 5}
AB

In [100]:
newinfo = {
    'mike': 8,
    'jane': 7,
    'Too': 4,
    'Ray': 5,
    }
print(newinfo)

for key, value in newinfo.items():
    if value == 4:
        print (key)
        break

{'mike': 8, 'jane': 7, 'Too': 4, 'Ray': 5}
Too

In [82]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    if r == '쌀':
        print('잡았다')
        break

잡았다

In [86]:
i = 0

while True: 
    i = i + 1
    if rice[i] == '쌀': 
        
        print('잡았다! 'f'{i}번째에 있었구나')
        break

잡았다! 4번째에 있었구나

### Continue

In [103]:
for i in range(20):
    if i % 2:
        continue
    if i > 10:
        continue
    print(i)

0
2
4
6
8
10

In [105]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print('성인입니다')

성인입니다
성인입니다
성인입니다

In [106]:
ages = {
    태주: 10,
    영희: 20,
    관후: 30,
    영석: 40,
}

for

SyntaxError: invalid syntax (3667247090.py, line 8)

### else

else문은 끝까지 반복된 후 실행됩니다. break를 만나지 않았을 때 실행됩니다.

In [109]:
for i in range(10):
    if i > 5:
        break
    print(i)

else:
    print('else입니다.')

0
1
2
3
4
5

### pass

In [111]:
if True:

SyntaxError: incomplete input (3132949053.py, line 2)

In [112]:
if True:
    pass
    #코드 짜는 중간에 일단 이프문 만들어둘 때 사용 (오류방지)

###match

q

In [119]:
status = input()

match status:
    case status == 100:
        print('ok')
    case status == 404:
        print('Yes')
    case _
        print('Done')

IndentationError: unexpected indent (530352093.py, line 5)